.contenedor_padre{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card_contenedor{
    width: 30rem;
}

.imagen_card{
    object-fit: contain;
    height: 10rem;
}

@media only screen and (min-width: 576px) {
    .imagen_card{
        height: 14rem;
    }
    
}